/*------------------------- 
        Common_CSS
--------------------------*/

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
#container{
    width: 100%;
    
}
h1{
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 27px;
}
main{
    padding: 0 180px 70px;
}


/*------------------------- 
    Conmebol_Area_CSS
--------------------------*/

.conmebol{
    display: flex;
    background-color: #0000ff;
    margin-bottom: 70px;
}
.conmebol_left_area{
    width: 50%;
    padding: 50px 27px 0px 50px;
    margin-left: 50px;
}

.btn-color{
    transition: all 0.5s;
}

a{
    color: #ffffff;
    text-decoration: none;
    padding:10px 24px 10px;
    background: #E02C6D;
    
}

a:hover{
    
        padding: 14px 28px;
        transition: 1s;
        background-color: #0b9db1;
      
}



.conmebol_right_area{
    width: 50%;
    padding: 5%;
    margin-right: 50px;
}
.conmebol_right_area img{
    height: 438px;
    width: 556px;
    cursor: pointer;
}
.conmebol_right_area img:hover{
    padding: 8px;
        transition: 1s;
}

/*------------------------- 
    Main_Area_CSS
--------------------------*/

/*---- Players_Area_CSS ----*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    
}

.player{
    border: 0px solid;
    padding: 10px;
    box-shadow: 5px 5px 40px #80808094;
    
}

.player img{
    width: 300px;  
}

/*------------------------------------- 
    Fantasy_Premier_League_Area
---------------------------------------*/




/*------------------------- 
    Footer_Area_CSS
--------------------------*/
.footer_area img{

    padding-left: 400px;
}
.logo img{
    
    width: 483px;
}

.social_media{
    padding-left: 590px;
}



.copyright{
    align-content: center;
    padding-left: 600px;
}
.social_media_color{
    margin-left: 14px;
    padding: 4px 8px;
    color: gray;
    background-color: #e8e7e7;
    border-radius: 60%;
}
.social_media_color:hover{
    padding: 8px 12px;
    color: #0105d6;
    background-color: #e8e7e7;
    border-radius: 60%;
    transition: 1s;
}
.social_media_color:hover .fa-instagram{
    color: #b201d6;
}
.social_media_color:hover .fa-twitter{
    color: #00acee;
}
.social_media_color:hover .fa-whatsapp{
   color: #25d366;
}
.social_media_color:hover .fa-snapchat{
   color: #fffb00;
}