/*------------------------- 
        Common_CSS
--------------------------*/

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
#container{
    width: 100%;
    
}
h1{
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 27px;
    line-height: 80px;
}
main{
    padding: 0 180px 70px;
}


/*------------------------- 
    Conmebol_Area_CSS
--------------------------*/

.conmebol{
    display: flex;
    background-color: #0000ff;
    margin-bottom: 70px;
    align-items: center;
}
.conmebol_left_area{
    width: 50%;
    padding: 0 27px 0px 50px;
    margin-left: 50px;
}

.button{
    transition: all 0.5s;
}

a{
    color: #ffffff;
    text-decoration: none;
    padding:10px 24px 10px;
    background: #E02C6D;
    
}


a:hover{
    
        padding: 14px 28px;
        transition: 1s;
        background-color: #7781dbc5;
        color: #000000;
      
}



.conmebol_right_area{
    width: 50%;
    padding: 5%;
    margin-right: 50px;
}
.conmebol_right_area img{
    height: 438px;
    width: 556px;
    cursor: pointer;
}
.conmebol_right_area img:hover{
    padding: 8px;
    transition: 1s;
}

/*------------------------- 
    Main_Area_CSS
--------------------------*/

/*---- Players_Area_CSS ----*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    
}

.player{
    border: 0px solid;
    padding: 10px;
    box-shadow: 5px 5px 40px #80808094;
    
}

.player img{
    width: 300px;  
}

/*------------------------------------- 
    English_Premier_League_Area
---------------------------------------*/
.e_p_l{
    padding: 0 180px 20px;
    display: flex;
}
.e_p_l_left h1{
    color: black;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.e_p_l_left p{
    color: black;
    margin-bottom: 25px;
    padding-right: 40px;
    
}
.e_p_l_right{
    width: 50%;
    margin-top: 45px;
}

/*------------------------- 
    Sign_Up_Area_CSS
--------------------------*/
.sign_up{
    margin: 20px 0 50px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(#04069cef, #23218d9f);
    background-size:cover ;
}
h2{
    font-size: 42px;
    margin-bottom: 30px;
    color: #ffffff;
}
form{
    margin-top: 50px;
    text-align: center;
}
input{
    display: block;
    width: 350px;
    height: 40px;
    margin:20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid #ffffff;
    background:transparent ;
}
button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: #2808df7e;
    margin-top: 20px;
    cursor: pointer;
    color: #ffffff;
    border: none;
}
button:hover{
    background-color: #a3c8ca94;
    cursor: pointer;
    transition: 2s;
    color: #000000;
    border: 2px solid #a3c8ca94;
}
::placeholder{
    color: #c0c0c0;
}


/*------------------------- 
    Footer_Area_CSS
--------------------------*/

.footer_area img{

    padding-left: 400px;
}
.logo img{
    
    width: 483px;
}

.social_media{
    padding-left: 590px;
}



.copyright{
    align-content: center;
    padding-left: 600px;
}
.social_media_color{
    margin-left: 14px;
    padding: 4px 8px;
    color: gray;
    background-color: #e8e7e7;
    border-radius: 60%;
}
.social_media_color:hover{
    padding: 8px 12px;
    color: #0105d6;
    background-color: #e8e7e7;
    border-radius: 60%;
    transition: 1s;
}
.social_media_color:hover .fa-instagram{
    color: #b201d6;
}
.social_media_color:hover .fa-twitter{
    color: #00acee;
}
.social_media_color:hover .fa-whatsapp{
   color: #25d366;
}
.social_media_color:hover .fa-snapchat{
   color: #fffb00;
}

/*------------------------- 
    Media_Quaries_CSS
--------------------------*/

/* Mobile_Devices */
@media only screen and (max-width: 688px) {

    /* Header_Area */


    .container{
        margin: 0 0px;
    }
    
    h1{
        font-size: 36px;
        line-height: 38px;
        margin: 0;
        padding: 8px 0;
    }
    a{
        font-size: 12px;
        padding: 4px;
    }
     .conmebol{
        display: flex;
        flex-direction: column;
        padding: 0 30px; 
        align-items: center;

    }
     .conmebol_left_area{
        padding: 6px 200px 0 0; 
    } 
    .conmebol_right_area img{
        width: 329px;
        height: auto;
        margin: 0 0 0 -75px;
        

    }

    /* Players_Area */

    .players{
        grid-template-columns: repeat(1,1fr);
    }
    main{
        padding: 20px ;
    }
    .sign_up{
        padding: 10px 50px;
    }


    .e_p_l{
        padding: 0 10px;
        display: flex;
        flex-direction: column;
    }


    .e_p_l_left{
    padding:0 16px; 
    }
    .e_p_l_left a{
    font-size: 16px;
    font-weight: 500px; 
    padding: 10px 24px;
    }
    .e_p_l_left h1{
        color: black;
        font-size: 25px;
        font-weight: 700;
        line-height: 32px;
        align-items: center;
    }
    .e_p_l_left p{
        color: black;
    }

    

    .e_p_l_right img{
        width: 328px;
        height: 100%;
        padding: 0 6px;
    }


    .logo img{
        width: 80%;
    }

    .footer_area img{
        padding-left: 12px;
    }
    .social_media{
        padding-left: 80px;
    }
    .copyright{
        padding-left: 80px;
    }






}

    /* English_Premier_League_Area */

    
    