/*------------------------- 
        Common_CSS
--------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
#container{
    background-color: #0000ff;
    width: 100%;
    
}
h1{
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

/*------------------------- 
    Conmebol_Area_CSS
--------------------------*/

.conmebol{
    display: flex;
    
}
.conmebol_left_area{
    width: 50%;
    padding: 5%;
    margin-left: 50px;
}
.conmebol_right_area{
    width: 50%;
    padding: 5%;
    margin-right: 50px;
}
.conmebol_right_area img{
    height: 438px;
    width: 556px;
}
a{
    color: #ffffff;
    text-decoration: none;
    padding:10px 24px 10px 24px;
    background: #E02C6D;
}

/*------------------------- 
    Players_Area_CSS
--------------------------*/
